name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abhishekjinxed/react-meme-app@fe # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "react-app-heroku-abhishek" #Must be unique in Heroku
          heroku_email: "abhishekjinxed@gmail.com"
